<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
  backupGlobals="true"
  backupStaticProperties="true"
  beStrictAboutChangesToGlobalState="false"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutCoverageMetadata="false"
  bootstrap="vendor/autoload.php"
  cacheDirectory="phpunit/cache"
  cacheResult="true"
  colors="true"
  defaultTimeLimit="10"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnIncompleteTests="true"
  displayDetailsOnSkippedTests="true"
  enforceTimeLimit="false"
  failOnDeprecation="true"
  failOnIncomplete="true"
  failOnEmptyTestSuite="true"
  failOnNotice="true"
  failOnRisky="true"
  failOnSkipped="true"
  failOnWarning="true"
  processIsolation="false"
  requireCoverageMetadata="false"
  stopOnDefect="true"
  stopOnDeprecation="true"
  stopOnError="true"
  stopOnFailure="true"
  stopOnIncomplete="false"
  stopOnNotice="true"
  stopOnRisky="true"
  stopOnSkipped="false"
  stopOnWarning="true"
>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit/</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">./tests/Integration/</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <html outputDirectory="phpunit/coverage/"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
